<h1>I'm sorry friend, there's nothing here.</h1>

<p>But while you're messing around, check out some of Aaron Strick's
  <a href="http://aaronstrick.com">Portfolio</a>
  or
  <a href="http://aaronstrick.com">GitHub</a></p>
