<div id='all-skills'>
  {{#each skills}}
  <div class='skill'>
    <h1 class='skill-title'>{{title}}</h1>
    <p class='skill-description'>{{description}}</p>
    <a href=''><img src='{{images.large}}'></a>
  </div>
  {{/each}}
</div>
