<html>
  <head>
    <title>Skillz</title>
    <style>
      body {background-color: black;}
      #badge-area {margin: 0 auto; width: 300;}
    </style>
  </head>

  <body>
    <div id="badge-area">
      <p><%= url %></p>
    </div>

  </body>
</html>
